@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Calculator";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2> Task-1</h2>
</hgroup>
<head>
    <meta charset="utf-8" >
    <meta http-equiv='X-UA-Compatible' content='IE=edge' >
    <meta name='viewport' content='width=device-width,inital-scale=1'>
</head>


<body>
    
    <div class="cal">
        <div class="bg">
            <div class="display">
                <p id="display"></p>
            </div>

            <div class="buttons">
                <button>C</button>
                <button>%</button>
                <button>DEL</button>
                <button>/</button><br>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>*</button><br>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>-</button><br>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>+</button><br>
                <button>00</button>
                <button>0</button>
                <button>.</button>
                <button class="equalto">=</button>
            </div>
        </div>
    </div>
</body>

<style>
    *{
        padding: 0;
        margin: 0;
        
    }
    .bg {
        border-radius: 37px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow: 27px 27px 66px #8c8c8c, -27px -27px 66px #ffffff;
        padding: 30px 30px 30px 30px;
    }
    .buttons button{
        margin-right: 6px;
        margin-bottom: 6px;
        width: 70px;
        height:70px;
        color: rgb(3,1,133);
        background-color: rgb(0, 148, 255);
        border-radius: 50%;
        font-size: 20px;
        font-weight: bold;
        border: none ;
        box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;
        transition: 0.2s ease-in-out;
    }
    .buttons button:hover{
        background-color: purple;
        color: aliceblue;
    }
    .cal{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 8em;
    }
    .cal span{
        font-size: 16px;
    }
    .cal .display{
        background-color: rgb(212,194,255);
        border: 3px solid rgb(212,194,255);
        width: 96.3%;
        border-radius: 9px;
        height: 60px;
        margin-bottom: 8px;
        justify-content: center;
        align-items:center;
        box-shadow: rgba(0, 0, 0,0.15) 0px 5px 15px, rgba(0,0,0,0.15) 0px 6px 6px;
        font-size: 25px;
        line-height: 60px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(250,245,255);
        letter-spacing: 2px;
    }
    .display:hover{
        background-color: aliceblue;
    }


</style>

<script src="~/Scripts/CalJavaScript.js">
    
</script>

<article>
    <p>
        BY: Tarun Sikhwal
    </p>

</article>

