@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Us.</h2>
</hgroup>
<div class="cbg">
   
    <section class="contact">
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>77 0984 6067</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:Sikhwal.tarun@gmail.com">Sikhwal.tarun@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Other:</span>
            <span><a href="mailto:itsikhwal@gmail.com">itsikhwal@gmail.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address:</h3>
        </header>
        <p>
            Wagholi,Pune<br />
            Maharashtra, INDIA
        </p>
    </section>
</div>
<style>
    .cbg {
        background-image: url( 'NewFolder1/My Post (1).jpg');
        background-size:cover;
        height:530px;
        padding:30px 30px 30px 30px;
        font-style:oblique;
        font-size:larger;
    }
</style>